/* google font */
@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100..900&family=Outfit:wght@100..900&display=swap");

@import url(layout.css);
@import url(reset.css);
@import url(theme.css);
@import url(utilities.css);

@layer reset, theme, layout, utilities;

/* Styles */

/* header section */
.header__text h1 {
  margin: 2rem 0;
}

.header__text p {
  margin-bottom: 2rem;
}

.header__button {
  margin-bottom: 7.5rem;
}
/* end header section */

/* main section */
main {
  padding-bottom: 120px;
}
.gallery__heading {
  margin: 25px 0 2rem;
}

.gallery__heading h2 {
  margin-bottom: 21px;
}

.gallery__img2 {
  margin-bottom: 1rem;
}

/* end main section */

/* footer section */
#footer__flex {
  flex-direction: column;
}
footer {
  padding: 3rem 2rem;
}

footer .footer__text {
  margin: 2.375rem 0;
  font-size: var(--fs-300);
}

footer .footer__icons {
  gap: 1.5rem;
}

/* end footer section */

/* end styles */

/* Media queries */
@media (min-width: 46.25rem) {
  :root {
    --fs-900: 4.375rem; /* 70px */

    --lh-900: 4.0625rem; /* 65px */
  }

  /* utilities */
  .mobile {
    display: none;
  }

  .tablet {
    display: block;
  }
  /* end utilities */

  /* header */
  header .grid {
    grid-template-columns: minmax(437px, 1fr) 1fr;
    margin-bottom: 120px;
  }

  header .header__text {
    position: relative;
    place-self: center;
    right: 15%;
    width: 100%;
  }

  header .header__text p {
    margin: 3rem 0;
  }
  /* end header */

  /* main section */
  .gallery {
    grid-template-columns: repeat(7, minmax(91.5px, 1fr));
    grid-template-rows: 400px 313px 396px;
    gap: 11px;
    grid-template-areas:
      "text text text img-1 img-1 img-1 img-1"
      /* "text text text img-1 img-1 img-1 img-1"
      "text text text img-1 img-1 img-1 img-1"
      "text text text img-1 img-1 img-1 img-1" */
      "img-2 img-2 img-2 img-2 img-3 img-3 img-3"
      /* "img-2 img-2 img-2 img-2 img-3 img-3 img-3"
      "img-2 img-2 img-2 img-2 img-3 img-3 img-3" */
      /* "img-2 img-2 img-2 img-2 card card card"
      "img-2 img-2 img-2 img-2 card card card"
      "img-2 img-2 img-2 img-2 card card card" */
      "img-2 img-2 img-2 img-2 card card card";
  }

  .gallery__img1 {
    grid-area: img-1;
  }

  .gallery__heading {
    grid-area: text;
  }

  .gallery__heading > * {
    width: 80%;
  }

  .gallery__img2 {
    grid-area: img-2;
    min-height: 720px;
  }

  .gallery__img3 {
    grid-area: img-3;
  }

  .gallery__card {
    grid-area: card;
    padding: 85px 28px;
    margin: 0;
  }

  .gallery__card h2 {
    margin: 0;
    margin-bottom: 24px;
  }

  .gallery__card > * {
    width: 90%;
    padding: 0;
    margin: 0;
  }

  .gallery > div:not(.gallery__heading, .gallery__card) {
    display: flex;
  }

  .gallery > div > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  /* end main section */

  /* footer section */
  #footer__flex {
    flex-direction: row;
    justify-content: space-between;
  }

  footer {
    padding: 3rem 2rem;
  }
  
  footer .footer__text {
    margin: 0;
    width: 38%;
    font-size: var(--fs-300);
  }
  
  footer .footer__icons {
    gap: 1.5rem;
  }
  /* end footer section */
}
@media (min-width: 78rem) {
  :root {
    --fs-300: 1.125rem; /* 18px */
    --fs-400: 1.375rem; /* 22px */
    --fs-600: 2.25rem; /* 36px */
    --fs-700: 3.75rem; /* 60px */
    --fs-900: 6rem; /* 96px */

    --lh-300: 1.75rem; /* 28px */
    --lh-400: 2rem; /* 32px */
    --lh-600: 2.25rem; /* 32px */
    --lh-700: 3.75rem; /* 60px */
    --lh-900: 5.5rem; /* 88px */
  }

  /* utilities */
  .tablet {
    display: none;
  }

  .desktop {
    display: block;
  }

  /* header */
  header {
    max-width: 1440px;
    margin-inline: auto;
  }

  header .grid {
    grid-template-columns: minmax(450px, 1fr) minmax(540px, 1fr) 1fr;
    grid-template-rows: minmax(800px, 1fr);
    margin-bottom: 120px;
  }

  header .desktop--h1 h1 {
    position: relative;
    left: 165px;
    top: 189px;
    background: linear-gradient(to right, white 62%, hsl(0 0 8%) 62%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  header .header__text {
    position: relative;
    place-self: start;
    right: 15%;
    top: 180px;
    width: 100%;
  }

  header .header__text h1 {
    display: none;
  }

  header .header__text p {
    margin: 0 0 3rem 0;
    width: 80%;
  }
  /* end header */

   /* main section */
   main {
    width: 78%;
   }
   .gallery {
    gap: 30px;
   }

   .gallery__heading {
    place-self: center;
   }

   .gallery .gallery__heading > * {
    width: 60%;
   }

   .gallery .gallery__heading > h2 > br {
    display: none;
   }
  /* end main section */

  /* footer */
  #footer__flex {
    flex-direction: row;
    width: 76.5%;
    margin-inline: auto;
  }

  footer {
    padding: 3rem 2rem;
  }
  
  footer .footer__text {
    margin: 0;
    width: 38%;
    font-size: var(--fs-300);
  }
  
  footer .footer__icons {
    gap: 1.5rem;
  }
  /* end footer */
}
